@charset "utf-8"

html,body{margin: 0; font-size: 16px;}
ul,li,ol{list-style-type:none; margin: 0; padding: 0;}
h1,h2,h3,h4,p,figure{margin: 0;}
a{
    text-decoration: none;
    color: black;
}

*{
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1;
}

header{
    width: 100%;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
    
}
header > div{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-items: center;
    padding: 20px 0;
}

.menu{
}
.menu > span{
    display: block;
    width: 20px;
    height: 3px;
    margin: 2px 0;
    background-color: black;
}

.home{padding-left:20%;}
.home > a{}
.home > a > h1{
    font-size: 2rem;
}

.submenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.submenu > div{
    height: 20px;
    
}
.submenu > div > input{
    font-size: 14px;
    padding: 2px;
    outline: none;
    opacity: 0;
}
.submenu > div > button{
    height: 40px;
    border: 0;
    width: 20px;
    background-color: white;
    font-size: 0;
    outline: none;
    background: url(/img/header_btn.PNG);
    background-repeat: no-repeat;
    background-position:0 4px;
    cursor: pointer;   
}
.submenu > div:hover > input{
    opacity: 1;
    transition: 1s;
}
.submenu > a:nth-of-type(1){
    font-size: 0;
    width: 30px;
    height: 40px;
    border-style: none;
    background: url(/img/header_btn.PNG);
    background-repeat: no-repeat;
    background-position: -33px 14px;
    margin-left: 10px;
}
.submenu > a:nth-of-type(2){
    font-size: 0;
    width: 30px;
    height: 40px;
    border-style: none;
    background: url(/img/header_btn.PNG);
    background-repeat: no-repeat;
    background-position: -76px 15px;
    margin-left: 10px;
}