@import url(common.css);

main{
    width: 100%;
}
main > div{
    width: 70%;
    margin: 0px auto;
}
.top{
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
    justify-content: center;
    
}
main > div > div > h2{
    text-align: center;
    font-size: 1.7rem;
    color: #FF8888;
    margin: 0px auto;
    margin-bottom: 3%;
    margin-top: 7%;
    background-color:#FFF5F5;
    width: 180px;
    padding: 5px 0;
}
.image{
    width: 470px;
    height: 400px;
    border: 1px solid #797979;
} 
.image > figure > figcaption{
    width: 70px;
    height: 70px;
    border: 1px solid #797979;
}
.image > figure > figcaption > img{
    width: 100%;
}

.menu2{
    margin-left: 10%;
}
.menu2 > table{
}
.menu2 > table  tr .won{
    color: #952828;;
    font-weight: bold;
}
.menu2 > table  tr  td  a{
    opacity: 0.5;
}
.menu2 > table  tr  td  a:active{
    opacity: 1;
}
.menu2 > table  tr  td  input{
    display: inline-block;
    width: 50px;

}