@import url(common.css);

.h2b > h2{
    text-align: center;
    font-size: 1.7rem;
    color: #FF8888;
    margin: 0px auto;
    margin-bottom: 3%;
    margin-top: 7%;
    background-color:#FFF5F5;
    width: 150px;
    padding: 5px;
    
}
main{
    width: 70%;
    margin: 7% auto;
}
.login{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.login-form{
    width: 45%;
    padding: 3.5% 0;
}
.login-form > div{
    width: 100%;
    height: 300px;
    background-color: #FFE3E3;
    padding: 90px;
    position: relative;
}
.login-form > div > div:nth-of-type(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-text{
    width:300px;
}
.login-text > input{
    width: 276px;
    padding: 9px;
    margin: 3px 0;
    border: none;

}
.login-btn > input{
    border: none;
    height: 107px;
    margin-left: 6px;
    width: 100px;
    text-align: center;
    background-color: #FF8888;
    color: #FFF;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    position: absolute;
    right: 44px; bottom: 100px;
}
.join-us > div{
    width: 100%;
    height: 300px;
    background-color: #FFE3E3;
    padding: 90px;
}
.login-id{
    /* border: 1px solid black; */
    width: 300px;
    position: absolute;
    left: 36px; bottom: 100px;

}
.login-id > a{
    display: inline-block;
    width:136px;
    padding: 2px;
    background-color: #C4C4C4;
    color: #fff;
    margin-top: 6px;   
}
.join-us{
    width: 45%;
    padding: 3.5% 0;
}
.join-us > div > a{
    display: inline-block;
    width: 286px;
    padding: 40px 0;
    background-color: #FF8888;
    text-align: center;
}